#signup-form {
  @extend #login-form;

  .btn-pink-rounded {
    i {
      float:left;
      margin-left: 30px;
    }

    span {
      position: absolute;
      top: 15px;
      right: 80px;
    }
  }

}