#login-form {
  margin-top: 30px;

  .form-input {
    width:250px;
    line-height: 2em;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 3px solid #fff;

    &:focus {
      outline:none;
    }
  }

  .form-input::-webkit-input-placeholder {
    text-align:center;
    letter-spacing: 1px;
    color: white;
  }

  .form-error {
    margin-top: 10px;
    font-size: 12px;
  }

  .btn-login {
    i {
      float:left;
      margin-left: 30px;
    }

    span {
      position: absolute;
      top: 15px;
      right: 80px;
    }
  }
}

.btn-facebook {
  @extend .btn-pink-rounded;
  margin-top: 0;
  width: 250px;

  i {
    float: left;
    margin-left: 30px;
  }
  //
  span {
    position: absolute;
    top: 16px;
    right: 60px;
  }
}