body {
  font-family: $sa-content;
  margin: 0;
}

.main-content {
  height: 100vh; // Used for all pages
}

#landing-page {
  background: url("https://www.stockvault.net/data/2013/06/03/145296/preview16.jpg");
  background-position-y: -72px;

  .btn-facebook {
    @extend .btn-pink-rounded;

    margin-top:0;
    width: 250px;

    i {
      float:left;
      margin-left: 30px;
    }
    //
    span {
      position: absolute;
      top: 16px;
      right: 60px;
    }

  }

}