body {
  overflow: hidden;
  font-family: $sa-content;
  margin: 0;
  height: 100vh;
  width: 100vw;
  -webkit-overflow-scrolling: touch !important;
}

div,
form,
table {
  -webkit-overflow-scrolling: touch !important;
}

.main-content {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#landing-page {
  background: url('https://www.stockvault.net/data/2013/06/03/145296/preview16.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .btn-facebook {
    @extend .btn-pink-rounded;

    margin-top: 0;
    width: 250px;

    i {
      float: left;
      margin-left: 30px;
    }
    //
    span {
      position: absolute;
      top: 16px;
      right: 60px;
    }
  }
}
