#header-nav,
#header-settings {
  background: $sa-gray;
  height: 9vh;
  width: 100%;
  .header-nav-title {
    text-align: center;
    color: #2a2828;
    font-family: Gotham;
    font-size: 1.2em;
    font-weight: bold;
    padding-right: 0;
  }
  .fa-chevron-left {
    color: #726d6d;
    margin-left: 10px;
    font-size: 28px !important;
  }
  .logo-header {
    img {
      width: 50px;
      height: 50px;
    }
  }

  .settings-button {
    position: absolute;
    right: 25px;
  }

  .menu-header {
    right: 20px;
    position: absolute;
    background-image: url('/assets/ellipse-menu.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 40px;
  }
}

.side-header {
  width: 100%;
  text-align: center;

  .sidebar-title {
    //height: 100%;
    //font-size: 20px;
    //color: #2a2828;

    img {
      width: 150px;
      height: 100px;
    }
  }
}

.side-menu {
  .side-menu-item {
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: #797575;
    height: 56px;
    line-height: 56px;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    font-family: 'Gotham';
    //for Links
    display: block;
    text-decoration: none !important;
    outline: 0 !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;

    &.active,
    &:active,
    &:hover {
      background-color: $sa-pink;
      color: #fff;
    }

    &:focus {
      background-color: $sa-pink;
      color: #fff;
    }
  }
}

.side-footer {
  //button {
  //  margin: 0px auto;
  //  margin-top: 200px;
  //  width: 70%;
  //  background: #726D6D;
  //  color: #FFF;
  //  border: none;
  //  display: block;
  //  padding: 13px;
  //  border-radius: 33px;
  //  font-size: 22px;
  //  font-family: Europa;
  //  letter-spacing: 3px;
  //  &:disabled{
  //    background: #a7a0a0;
  //  }
  //}

  .btn-pink-rounded {
    width: 80%;
  }
}
