@font-face {
  font-family: 'Europa';
  src: url('/fonts/Europa-Regular.eot');
  src: url('/fonts/Europa-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Europa-Regular.woff2') format('woff2'),
    url('/fonts/Europa-Regular.woff') format('woff'),
    url('/fonts/Europa-Regular.ttf') format('truetype'),
    url('/fonts/Europa-Regular.svg#Europa-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
