// Margin
.mg-top-10 {
  margin-top: 10px;
}

.mg-top-15 {
  margin-top: 15px;
}

.mg-top-20 {
  margin-top: 20px;
}

.mg-top-50 {
  margin-top: 50px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

// Text Alignment / Formatting
.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Text Colors
.text-pink {
  color: $sa-pink;
}

.text-purple {
  color: $sa-purple;
}

.text-white {
  color: white;
}

// Buttons
.btn-pink-rounded {
  position:relative;
  margin-top:30px;
  font-size: 15px;
  color: white;
  border-radius: 40px;
  background: $sa-pink;
  height: 50px;
  width:100%;
  border: 3px solid #fff;
  font-family: 'Gotham';
}