#profile-page {
  .main-profile-image img {
    border: 1px $sa-gray solid;
    height: 120px;
    width: 120px;
  }

  .profile-images img {
    border: 1px $sa-gray solid;
    height: 75px;
    width: 75px;
  }

}