// Contains all style variables to be used across modules
@import "normalize";

// Fonts
$sa-header: ('GothamBold', sans-serif);
$sa-content: ('GothamOTF', sans-serif);

// App Colors
$sa-pink: #D463C4;
$sa-purple: #7C33C8;