// Contains all style variables to be used across modules
@import 'normalize';

// Fonts
$sa-header: (
  'GothamBold',
  sans-serif
);
$sa-content: (
  'GothamOTF',
  sans-serif
);

// App Colors
$sa-pink: #d463c4;
$sa-purple: #7c33c8;
$sa-gray: #eaeaea;
