// Margin
.mg-top-10 {
  margin-top: 10px;
}

.mg-top-15 {
  margin-top: 15px;
}

.mg-top-20 {
  margin-top: 20px;
}

.mg-top-50 {
  margin-top: 50px;
}

.mg-bot-20 {
  margin-bottom: 20px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}