// Margin
.mg-top-5 {
  margin-top: 5px;
}

.mg-top-10 {
  margin-top: 10px;
}

.mg-top-15 {
  margin-top: 15px;
}

.mg-top-20 {
  margin-top: 20px;
}

.mg-top-30 {
  margin-top: 30px;
}

.mg-top-50 {
  margin-top: 50px;
}

.mg-top-100 {
  margin-top: 100px;
}

.mg-bot-20 {
  margin-bottom: 20px;
}

.mg-left-10 {
  margin-left: 10px;
}

.mg-left-20 {
  margin-left: 20px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}